<% include partials/header.ejs%>

<div class="container">
    <div class="text-center">
        <div class="row">
            
            <div style="width:50%; margin:0 auto;">
            <h1>Add New Drama</h1>
                <form action="/drama" method="POST">
                    <div class="form-group">
                        <label for="title">Title of Drama</label>
                        <input class="form-control" type="text" name="title" placeholder="Title of Drama">
                    </div>
                    <div class="form-group">
                        <label for="image">Image URL</label>
                        <input class="form-control" type="text" name="image" placeholder="Image of Drama">
                    </div>
                    <div class="form-group">
                        <label for="genre">Drama Genre(s)</label>
                        <input class="form-control" type="text" name="genre" placeholder="Genre(s)">
                    </div>
                    <div class="form-group">
                        <label for="genre">Number of Eps</label>
                        <input class="form-control" type="text" name="noEps" placeholder="No. Eps">
                    </div>
                    <div class="form-group">
                        <label for="genre">Cast</label>
                        <input class="form-control" type="text" name="cast" placeholder="Cast" >
                    </div>
                    <div class="form-group">
                        <label for="genre">Episode</label>
                        <input class="form-control" type="text" name="ep" placeholder="Episode">
                    </div>
                    <div class="form-group">
                        <label for="genre">Episode(s) Link</label>
                        <input class="form-control" type="text" name="epLink" placeholder="Episode(s) Link">
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<% function addNew (add) { %>
     <% dramaList.forEach(function(drama){ %>
        <% var i = 0 %>
        <% while (i < drama.noEps) { %>
            <div>
                <a href="/drama/<%= drama.title%>/<%= i+1%>">Episode <%= i+1%></a>
                <% i++; %>
            </div>
            
            
        <% } %>
    <% }); %>
<% }; %>


<% include partials/footer.ejs%>