<% include ../partials/header.ejs%>

<div class="container">
    <div class="text-center">
        <div class="row">    
            <div style="width:50%; margin:0 auto;">
            <% dramaList.forEach(function(dramaList){ %>
                <h1>Add Episode Links to - <%= dramaList.title%> </h1>
                <form action="/drama/<%= dramaList.title%>/links" method="POST">
                   
                    <div class="form-group">
                        <label for="title">Nos</label>
                        <input class="form-control" type="text" name="epLinks[nos]" placeholder="nos" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Link</label>
                        <input class="form-control" type="text" name="epLinks[link]" placeholder="link" required>
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </form>
            <% }); %>
                
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer.ejs%>